.git
.github
.githooks
.zed
skills-lock.json

client/node_modules
client/dist
client/.env
client/.env.*
!client/.env.example

server/.env
server/.env.*
!server/.env.example
server/main

**/.DS_Store
**/*.log
